# This file is used to store all the aliases that will be sourced from the
# startup files for the shell


# ---- Command Shortcuts -------------------------------------------------------

alias vimsettings="v ~/.vimrc"
alias aliases="v ~/.aliases"
alias gf_aliases="v ~/.gf_aliases"
alias settings="v ~/.profile"
alias refresh=". ~/.profile"

alias v="vim"
alias gv="gvim"

alias l="ls"
alias la="ls -A"
alias ll="ls -ltrh"
alias ld="ls -d */"

alias del="rm -rf"
alias dirsize="du -sh */"
alias path="tr ":" "\n" <<< "$PATH""


function bak {
  cp -p $1 $1.bak
  echo "Backed up to : ${1}.bak"
}


