# This file is used to store all the aliases that will be sourced from the
# startup files for the shell


# ---- Command Shortcuts -------------------------------------------------------


if [[ $(command -v nvim) != 1 ]]; then
  export EDITOR="nvim"
else
  export EDITOR="vim"
fi

# Test Programs
alias temp="sensors"  # install lm-sensors
alias gpu_tests="phoronix-test-suite list-tests"
alias gpu="phoronix-test-suite run unigine-heaven"
alias todo="mkdir -p ~/Notes && $EDITOR ~/Notes/todo.md"
alias rmatl="matlab -nodisplay -nodisplay -nosplash -nodesktop -r \"run('$1')\";exit;"

# Shortcuts to settings files
alias vimrc="v ~/.vimrc"
alias aliases="v ~/.aliases"
alias gf_aliases="v ~/.gf_aliases"
alias bashrc="v ~/.bashrc"
alias zshrc="v ~/.zshrc"
alias theme="v ~/.zsh_theme"
alias profile="v ~/.profile"
alias settings="v ~/.profile"
alias refresh=". ~/.zshrc"

# Assorted
last() {
  file_num=${1:-1}
  ls -tr 2> /dev/null | tail -$file_num | head -1
}

# Compression
alias untar="tar -zxvf"
alias 7z="p7zip"

# Editors
alias vdiff="vimdiff"

alias v="$EDITOR"
# $1 The n'th lastest file to edit
vl() {
  file_num=${1:-1}
  dir=$(ls -ptr 2> /dev/null | grep -v / | tail -$file_num | head -1)
  $EDITOR $dir
}

# Directory Listings
time_style='--time-style=+"%a %b %d %l:%M"'
alias l="ls"
alias la="ls -A"                             # List all files including hidden
alias lf="ls | grep -v /"                    # List all non-directory files
alias llf="ls -lrth $time_style | grep -v /" # Descriptive listing of all files
alias ll="ls -lrth $time_style"              # Descriptive listing
alias ld="ls -d */"                          # List all directories
alias lld="ls -ltrhd */ $time_style"         # Descriptive listing of all directories
alias lh="ls -Ad .*"                         # List all hidden files

# Directory Hopping
alias cdd="cd -"

# $1 The n'th latest directory to move to
cl() {
  dir_num=${1:-1}
  dir=$(ls -dtr */ 2> /dev/null | tail -$dir_num | head -1)
  if [[ -e $dir ]]; then
   cd "./$dir"
  else
    echo "There are no directories here"
  fi
}

# $1 The directory to move to and list
cs() {
  cd "$@" && ls
}

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."

# Assorted
alias del="rm -rf"
alias dirsize="du -sh */"
alias path='tr ":" "\n" <<< "$PATH"'
alias delcore="rm core*"
alias fext="find . -type f -name '*.*' | sed 's|.*\.||' | sort -u"

# Create a backup of a file
function bak {
  cp -pr $1 ${1}.bak
  echo "Backed up to : ${1}.bak"
}

function revert {
  if [[ ! -e ${1}.bak ]]; then
    echo 'No Backup File Exists'
    return 1;
  fi;

  rm $1
  cp -p ${1}.bak $1

  echo $1 restored from ${1}.bak
}

alias psall="ps -ef | grep twaters"

# Kill a process on a grep command
function pskill {
  ps -ef | grep twaters | grep -v grep | grep $1 | awk '{print $2}' | xargs kill
}

# Swap the positions of two files
function swap {
  if [[ ! -e $1 && ! -e $2 ]]; then
    echo "You must provide two files to swap"
  fi

  tmp=/tmp/$1
  mv $1   $tmp
  mv $2   $1
  mv $tmp $2
}
