# Example Files
# https://gist.github.com/rab/4067067
# https://gist.github.com/pksunkara/988716

[alias]
  c = commit -m
  a = add --all
  s = status
  d = difftool
  m = mergetool
[color]
  branch     = auto
  diff       = auto
  status     = auto
  showbranch = auto
  ui         = true
[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old  = red bold
  new  = green bold
[color "status"]
  added     = yellow
  changed   = green
  untracked = cyan
[github]
  user = evelios
[user]
	name = Thomas Waters
	email = twaters117@gmail.com
[merge]
  tool = diffconflicts
  conflictstyle = diff3
[mergetool]
  prompt     = false
  keepBackup = false
[diff]
  tool = nvimdiff
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[push]
	default = current
[core]
	autocrlf = input
